.idea
.env
.log
.temp
__pycache__
.debug
out/
/build
/dist
*.spec
config/game.yml
config/world_patrol/record.yml
config/world_patrol/whitelist/*.yml
config/gui.yml
config/one_stop_service.yml
config/app_run_record/
config/trailblaze_power.yml
config/echo_of_war.yml
config/world_patrol.yml
config/mystool
config/forgotten_hall.yml

.ipynb_checkpoints/
.virtual_documents/
*.ipynb
test*.png