.idea
.env
.log
.temp
__pycache__
.debug
out/
/build
/dist
*.spec
config/world_patrol/record.yml
config/world_patrol/whitelist/*.yml
config/mystool
config/mystool2
config/sim_uni/app_config.yml
config/sim_uni/challenge_config/*.yml
!config/sim_uni/challenge_config/*_sample.yml
config/*[!_sample].yml
config/app_run_record/
config/[0-9]*/
StarRailGPS/