# 开发过程产生的临时文件
build/
dist/
.idea/
.vscode/
__pycache__/
deploy/build/
deploy/dist/
.env
recording.jsonl
update_by_temp_2.bat
out/

# 测试文件
sr-od-test/

# 用户配置文件
env.bat
config/world_patrol/record.yml
config/world_patrol/whitelist/*.yml
config/world_patrol/personal/
config/mystool
config/mystool2
config/sim_uni/app_config.yml
config/sim_uni/challenge_config/*.yml
!config/sim_uni/challenge_config/*_sample.yml
config/*[!_sample].yml
config/app_run_record/
config/[0-9]*/
config/model.yml

# 执行文件
*.exe

# 用户运行时产生的文件
.temp
.log/
.install/
.temp_clone/
.temp_clone**/
.debug/
.conda/
.venv/
notice_cache/

# 需自行下载的模型文件
models/
